
.DS_Store
GrapesProject.xcodeproj/project.xcworkspace/xcuserdata/matteonasti.xcuserdatad/UserInterfaceState.xcuserstate
GrapesProject.xcodeproj/xcuserdata/matteonasti.xcuserdatad/xcschemes/xcschememanagement.plist
GrapesProject.xcodeproj/project.xcworkspace/xcuserdata/leonardocatello.xcuserdatad/UserInterfaceState.xcuserstate
GrapesProject.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
GrapesProject/Info.plist
