<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>OpenAI_API_Key</key>
	<string>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</string>
</dict>
</plist>
